{% extends 'base.html.twig' %}

{% block title %}Syndic - Edition mot de passe{% endblock %}

{% block body %}
<div class="container-fluid w-75">
    <h1 class="display-6 mt-3 mb-3">Edition du mot de passe</h1>
    <hr>
    {% if form.newPassword.vars.errors | length > 0 %}
        <div class="alert alert-danger mt-2">
            {{ form_errors(form.newPassword) }}
        </div>
    {% endif %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger mt-2">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
    <div class="text-small text-danger"></div>
    <div class="text-small text-success"></div>
    {{ form_label(form.newPassword) }}
    {{ form_widget(form.newPassword) }}
    <div class="new text-small text-danger"></div>
    <div class="new text-small text-success"></div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('{{ form.plainPassword.second.vars.id }}').addEventListener('keyup', function(e) {
            let password1 = document.getElementById('{{ form.plainPassword.first.vars.id }}').value;
            let password2 = document.getElementById('{{ form.plainPassword.second.vars.id }}').value;
            let newPassword = document.getElementById('{{ form.newPassword.vars.id }}').value;
            let submit = document.getElementById('{{ form.submit.vars.id }}');
            submit.disabled = true;
    
            if (password1 !== password2) {
                document.querySelector('.text-small.text-danger').innerHTML = 'Les mots de passe ne correspondent pas';
                document.querySelector('.text-small.text-success').innerHTML = '';
                document.getElementById('{{ form.plainPassword.second.vars.id }}').classList.add('is-invalid');
            } else {
                document.querySelector('.text-small.text-success').innerHTML = 'Les deux mot de passe sont identiques';
                document.querySelector('.text-small.text-danger').innerHTML = '';
                document.getElementById('{{ form.plainPassword.second.vars.id }}').classList.remove('is-invalid');
                document.getElementById('{{ form.plainPassword.second.vars.id }}').classList.add('is-valid');
                document.getElementById('{{ form.plainPassword.first.vars.id }}').classList.add('is-valid');
    
                // Vérifier si le nouveau mot de passe est valide
                let hasLowercase = /[a-z]/.test(newPassword);
                let hasUppercase = /[A-Z]/.test(newPassword);
                let hasNumber = /\d/.test(newPassword);
                let hasSpecialChar = /[^A-Za-z0-9]/.test(newPassword);
                let hasMinLength = newPassword.length >= 12;
    
                if (hasLowercase && hasUppercase && hasNumber && hasSpecialChar && hasMinLength) {
                    submit.disabled = false;
                }
            }
        });
        document.getElementById('{{ form.newPassword.vars.id }}').addEventListener('keyup', function(e) {
            let newPassword = document.getElementById('{{ form.newPassword.vars.id }}').value;
            let submit = document.getElementById('{{ form.submit.vars.id }}');
            submit.disabled = true;
        
            let hasLowercase = /[a-z]/.test(newPassword);
            let hasUppercase = /[A-Z]/.test(newPassword);
            let hasNumber = /\d/.test(newPassword);
            let hasSpecialChar = /[^A-Za-z0-9]/.test(newPassword);
            let hasMinLength = newPassword.length >= 12;
        
            let errorMessage = 'Le mot de passe doit contenir : ';
            errorMessage += hasLowercase ? '' : '1 minuscule, ';
            errorMessage += hasUppercase ? '' : '1 majuscule, ';
            errorMessage += hasNumber ? '' : '1 chiffre, ';
            errorMessage += hasSpecialChar ? '' : '1 caractère spécial, ';
            errorMessage += hasMinLength ? '' : 'au moins 12 caractères, ';
            errorMessage = errorMessage.slice(0, -2); // Enlever la dernière virgule et l'espace
        
            if (hasLowercase && hasUppercase && hasNumber && hasSpecialChar && hasMinLength) {
                document.querySelector('.new.text-small.text-success').innerHTML = 'Le mot de passe est valide';
                document.querySelector('.new.text-small.text-danger').innerHTML = '';
                document.getElementById('{{ form.newPassword.vars.id }}').classList.remove('is-invalid');
                document.getElementById('{{ form.newPassword.vars.id }}').classList.add('is-valid');
                submit.disabled = false;
            } else {
                document.querySelector('.new.text-small.text-danger').innerHTML = errorMessage;
                document.querySelector('.new.text-small.text-success').innerHTML = '';
                document.getElementById('{{ form.newPassword.vars.id }}').classList.remove('is-valid');
                document.getElementById('{{ form.newPassword.vars.id }}').classList.add('is-invalid');
            }
        });

    });
</script>
{% endblock %}