{% extends "base.html.twig" %}

{% block title %}Projet syndic{% endblock %}

{% block body %}
<h1 class="display-4 mt-5 text-center">Projet syndic</h1>
{# card bootstrap #}
<div class="container d-flex justify-content-evenly mt-5">
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('upload/profil.jpg') }}" class="card-img-top" height="200">
        <div class="card-body">
            <h5 class="card-title">Utilisateurs</h5>
            <p class="card-text">Affiche la liste des Habitants</p>
        </div>
        <div class="card-body">
            <a href="{{path('afficher_utilisateur')}}" class="card-link btn btn-outline-primary mt-auto">afficher Habitants</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('upload/problematique.png') }}" class="card-img-top p-4" height="250" alt="...">
        <div class="card-body">
            <h5 class="card-title">Problematiques</h5>
            <p class="card-text">Affiche la liste des Problematiques</p>
        </div>
        <div class="card-body">
            <a href="{{path('afficher_problematiques')}}" class="card-link btn btn-outline-primary my-auto">afficher problematiques</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('upload/archive.jpg') }}" class="card-img-top" height="250" alt="...">
        <div class="card-body">
            <h5 class="card-title">Archives</h5>
            <p class="card-text">Affiche la liste des archives</p>
        </div>
        <div class="card-body">
            <a href="{{path('afficher_utilisateur')}}" class="card-link btn btn-outline-primary my-auto">afficher Archives</a>
        </div>
    </div>
</div>
   
    {% endblock %}