{% extends 'base.html.twig' %}

{% block title %}Syndic - Habitants{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {% if not habitants is same as ([]) %}
        
   
    <h1>Habitants</h1>
    <a href="{{ path('app_habitants_new') }}" class="btn btn-primary">Ajouter un habitant</a>
<div class="count">
    Il y a {{ habitants.getTotalItemCount }} habitants au total.
    
</div>
    <table class=\"table\">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Date Creation</th>
                <th>Date Modification</th>
            </tr>
        </thead>
        <tbody>
        {% for habitant in habitants %}
            <tr>
                <td>{{ habitant.id }}</td>
                <td>{{ habitant.nom }}</td>
                <td>{{ habitant.prenom }}</td>
                <td>{{ habitant.adresse }}</td>
                <td>{{ habitant.mail }}</td>
                <td>{{ habitant.dateAjout|date('d-m-Y') }}</td>
                <td>{{ habitant.dateModif|date('d-m-Y') }}</td>
                
                <td>
{#                     <a href=\"{{ path('habitant_show', {'id': habitant.id}) }}\">show</a>
                    <a href=\"{{ path('habitant_edit', {'id': habitant.id}) }}\">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=\"9\">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-3">
        {{ knp_pagination_render(habitants) }}
    </div>
    {% else %}
        <h4 class="d-flex justify-content-center mt-5">Il n'y a pas d'habitants</h4>
    {% endif %}
</div>
    

{#     <a href=\"{{ path('habitant_new') }}\">Create new</a> #}
{% endblock %}
