{% extends 'base.html.twig' %}

{% block title %}Syndic - Problematique{% endblock %}

{% block body %}
<div class="container">
    <h2 class="display-4 text-secondary mt-3">Detail de la problématique</h2>
    <hr>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-2">
        {{ message }}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-start align-items-start flex-wrap">
        {% if vich_uploader_asset(problematique, 'imageFile') %}
        <div class="card shadow rounded me-4">
            <img src="{{ vich_uploader_asset(problematique, 'imageFile') }}" alt="Photo de la problematique"
                class="image-fluid" style="max-height: 400px;">
        </div>
        {% else %}
        <div>
            <p class="me-4">Aucune image disponible</p>
        </div>
        {% endif %}
        <div class="col-6">
            <h3>{{ problematique.problematique }}</h3>
            <p><span class="fw-bold">Description : </span>{{ problematique.description }}</p>
            {% if problematique.commentaire == null or '' %}
            <p><span class="fw-bold">Commentaire : </span>Pas de commentaire ajouté</p>
            {% else %}
            <p><span class="fw-bold">Commentaire : </span>{{ problematique.commentaire }}</p>
            {% endif %}
            <p><span class="fw-bold">Auteur : </span>{{ problematique.auteur.nom }} {{ problematique.auteur.prenom }}
            </p>
            <p><span class="fw-bold">Date d'ajout : </span>{{ problematique.dateAjout|date('d/m/Y') }}</p>
            <p><span class="fw-bold">Date de modification : </span>{{ problematique.dateModif|date('d/m/Y') }}</p>
            {% if suiviProblematique.etat == 'Résolu' %}
            <span class="fw-bold">Etat : </span>
            <p class="badge bg-success p-2">{{ suiviProblematique.etat }}</p>
            {% elseif suiviProblematique.etat == 'En cours' %}
            <span class="fw-bold">Etat : </span>
            <p class="badge bg-warning p-2">{{ suiviProblematique.etat }}</p>
            {% elseif suiviProblematique.etat == 'Non résolu' %}
            <span class="fw-bold">Etat : </span>
            <p class="badge bg-danger p-2">{{ suiviProblematique.etat }}</p>
            {% elseif suiviProblematique.etat == 'En attente de validation' %}
            <span class="fw-bold">Etat : </span>
            <p class="badge bg-info p-2">{{ suiviProblematique.etat }}</p>
            {% endif %}
            <div class="d-flex">
                <p>
                    <a href="{{path('app_problematiques_edit', {'id': problematique.id})}}"
                        class="btn btn-primary me-2">Modifier</a>
                </p>
                <p><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Supprimer
                    </button>
                </p>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression d'une problématique</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fermer"></button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes vous sur de vouloir supprimer cette problématique ?</p>
                                <p>Cette action est irréversible.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <a href="{{path('app_problematiques_delete', {'id': problematique.id})}}" type="button"
                                    class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}